@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --navbar-hover:rgba(96,96,96,0.32);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.img-container{
  width: 500px;
  height: 500px;
  background-color: brown;
}

@media only screen and (max-width: 800px) {
  .main-navbar {
    display: none;
  }

  .main{
    padding-left: 0 !important;
    width: 100%;
  }
}

.main-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.main{
  padding-left: 250px;
  width: 100%;
}

.main-navbar {
  position: fixed;
  width: 250px;
  padding-bottom: 65vh;
  height: 100%;
}

.navbar-active {
  background-color: rgba(96,96,96,0.32);
  color: white !important;
}

div.main-navbar ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container-contact {
  position: absolute;
}

.contact-main {
  width: 100%;
  height: 100%; /* Setengah halaman */
  z-index: 2; /* Ini akan berada di depan container2 */
}

.contact-item {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.contact-upper-bg {
  width: 100%;
  height: 60%; /* Setengah halaman */
  background-color: #463F4F;
  z-index: 1; /* Ini akan berada di depan container2 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Memposisikan di tengah halaman */
}

.contact-lower-bg {
  width: 100%;
  height: 100%; /* Satu halaman penuh */
  z-index: 0; /* Ini akan berada di belakang container1 */
}

.section {
  position: relative;
  height: 100%;
}

.title {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 16%; /* Posisikan di atas */
  left: 50%; /* Posisikan di tengah secara horizontal */
  transform: translateX(-50%);
}

